.btn-color {
  background-color: var(--primary-heading);
  border-radius: 20px;
  border: #198754;
  width: 160px;
  height: 45px;
  color: #fff;  
  transition: var(--transition);
  
}   

.btn-color:hover {
  background: #198754;
  color: #ffff;
}

.container-fluid {
  background-color: var(--secondary-bg);
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
}

.nav-link {
  font-size: 18px;
  transition: var(--transition);
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--accent);
  font-size: 20px;
}

.navbar-title-container {
  display: flex;
  flex-wrap: wrap;      
  line-height: 1.4;      
  max-width: 80%;       
  margin: 0 auto;      
  text-align: center;
}

.titulo-navbar {
  font-size: 18px;  
  font-weight: 600; 
  margin-right: 25px; 
  color: var(--primary-heading);
}

/* Tablets */
@media (min-width: 768px) {
  .navbar-title-container {
    font-size: 20px;
    max-width: 60%;     
  }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
  .navbar-title-container {
    font-size: 20px;
    max-width: 300px;   
    line-height: 1.5;
    text-align: left;   
  }
}



