/* MOBILE SIZE */
.user-container {
  background-image: url("../images/cloud-stars.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  color: #4a0a6a;
  min-height: 100vh;
  background-color: #6971a1;
}

.logo2 {
  margin-top: 60px;
  width: 240px;
  height: 218px;
}

.user-title {
  font-size: 2.8rem;
}

form .user-label, .age-user-label{
  /* margin: 1rem 0; */
  color: #6a1396;
  width: 90%;
  background-color: #f0f8ff39;
}

form .user-input,
form .user-select {
  width: 90%;
  height: 45px;
  margin: 0px auto;
  border-radius: 5px;
}

.css-13cymwt-control {
  width: 330px;
}

/* MEDIUM SCREEN */
@media (min-width: 800px) {
  .code-container {
    margin-top: 50rem;
  }
}

/* LARGE SCREEN */
@media (min-width: 1200px) {
  .user-container {
    background-size: contain;
    min-height: 100vh;
    background-color: #6971a1;
  }

  select {
    text-align: center;
  }

  .form-check .form-check-input{
    float: unset;
    margin-top: 20px;
  }

  .form-check-label {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #f0f8ff39;
  }

  .link-form-check-label:hover {
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth737.cur), auto !important; 
  }
}

/* LARGER SCREEN */
@media (min-width: 1500px) {
  /* .css-13cymwt-control {
    width: 500px;
  } */

  .main-row {
    padding-top: 100px;
  }

  form .user-input,
  form .user-select,
  form .user-label {
    width: 500px;
    height: 45px;
    margin: 5px auto;
  }

  .logo2 {
    width: 400px;
    height: 400px;
    top: 800px;
    margin-left: 500px;
  }

  .code-container {
    margin-right: 20rem;
  }

  .age-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
  }
  
 .age-user-select {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 45px;
    gap: 30px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .age-user-label {
    width: 500px;
    background-color: #f0f8ff39;
  }
  
  .user-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .user-checkbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 500px;
    /* color: #fff; */
    background-color: #fff;
  }
}
