.page-container {
  margin: 0 auto;
  padding: 90px 10px;
  background-image: url("../images/fondo-nubes-blancas-lila-complete.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  transition: var(--transition);
}

.login-card {
  width: 80%;
  background: transparent;
  border: 1px solid var(--text-color);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 40px;
  border-radius: 10px;
  transition: var(--transition);
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

label {
  font-size: 1.2rem;
  color: var(--text-color);
}

.title-login {
  font-size: 2rem;
  color: var(--accent);
  margin-top: 40px;
  text-align: center;
  transition: var(--transition);
}

.login-container {
  margin: 0 auto;
  width: 100%;
}

.add-token {
  text-align: center;
}

.btn-login {
  margin-top: 30px;
}

/* -------------------- RESPONSIVE -------------------- */

/* Medium Screens (Tablets) */
@media (min-width: 768px) {
  .page-container {
    padding-top: 120px;
    min-height: 100vh;
  }

  .login-card {
    width: 60%;
  }

  .title-login {
    font-size: 2.4rem;
  }
}

/* Large Screens (Desktop) */
@media (min-width: 992px) {
  .page-container {
    background-size: contain;
    min-height: 900px;
    padding: 0;
  }

  .login-card {
    width: 40%;
  }

  .title-login {
    font-size: 2.8rem;
    margin-top: 80px;
  }

  .btn-login {
    margin-top: 50px;
  }
}

/* Extra Large Screens */
@media (min-width: 1200px) {
  .login-card {
    width: 35%;
    margin-top: 100px;
  }

  .title-login {
    font-size: 3rem;
  }
}